@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --Background-card: #1f2630;
    --Background-items: #262f38;
    --VeryDarkBlue: hsl(216, 12%, 8%);
    --Font-Overpass: 'Overpass', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--VeryDarkBlue);
}

main{
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#rating{
    animation: fade 0.5s;
    height: 400px;
    width: 400px;
    background-color: var(--Background-card);
    border-radius: 30px;
}

.rating-card, .thanks-card{
    height: 100%;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.rating-card__img{
    background-color: var(--Background-items);
    padding: 10px;
    border-radius: 50%;
}

.rating-card__title{
    color: var(--White);
    font-family: var(--Font-Overpass);
    font-weight: 500;
}

.rating-card__info{
    color: var(--MediumGrey);
    font-size: 15px;
    width: 101%;
    line-height: 26px;
    font-family: var(--Font-Overpass);
}

.rating-card__buttons-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.btn{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--Background-items);
    color: var(--MediumGrey);
    border: none;
    cursor: pointer;
    font-weight: 900;
}

.btn--active{
    background-color: var(--MediumGrey);
    color: var(--White);
}

.btn:hover{
    background-color: var(--Orange);
    color: var(--White);
}

.btn--submit{
    width: 100%;
    height: 50px;
    border-radius: 30px;
    background-color: var(--Orange);
    color: var(--White);
    font-size: 16px;
    text-transform: uppercase;
    font-family: var(--Font-Overpass);
    font-weight: 400;
    letter-spacing: 2px;
    border: none;
    cursor: pointer;
}

.btn--submit:hover{
    background-color: var(--White);
    color: var(--Orange);
}

#thanks{
    animation: fade 0.5s;
    height: 400px;
    width: 400px;
    background-color: var(--Background-card);
    border-radius: 30px;
    
}

.thanks-card{
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.thanks-card__amount{
    color: var(--Orange);
    background-color: var(--Background-items);
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 15px;
    font-family: var(--Font-Overpass);
}

.thanks-card__title{
    color: var(--White);
    font-family: var(--Font-Overpass);
    font-size: 24px;
}

.thanks-card__info{
    width: 105%;
    font-size: 15px;
    color: var(--LightGrey);
    font-family: var(--Font-Overpass);
    line-height: 24px;
}

@media (max-width: 425px) {
    #rating, #thanks{
        width: 320px;
    }

    .rating-card__img{
        height: 34px;
        width: 34px;
    }

    .rating-card__title{
        font-size: 24px;
    }

    .rating-card__info{
        font-size: 12px;
        line-height: 20px;
    }
    .btn{
        height: 40px;
        width: 40px;
    }
    .btn--submit{
        height: 40px;
    }

    .thanks-card__amount{
        font-size: 12px;
    }

    .thanks-card__info{
        width: 105%;
        line-height: 20px;
        font-size: 13px;
    }
}

@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}